div
{
    width: 100px;
    height: 100px;
    /* The CSS margin properties are used to generate space around elements.
       The margin properties set the size of the white space outside the border. */
    margin: 40px;
    display: inline-block;
    background-color: #ee3e80;  /* rgb(93,24,50) */
}

p
{
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 20px;
    margin: 20px;
}

p.one   /* 객체 지향 */
{
    background-color: rgb(0,0,0);
    opacity: 0.5;
}

p.two
{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5); /* 마지막 값은 alpha 값(투명도), alpha 값의 범위: 0.0 ~ 1.0*/
}
